.bg-light {
  background-color: $primary;
}

main {
  padding: 0 0 2% 0;
} 
body {
  background-color: $light;
  background-attachment: fixed;
  background-image: url("/gravel.png");
  background-repeat: repeat;
  background-size: auto 109vh;
  backdrop-filter: var(--bs-secondary);
  background-position: top right;
  // filter: brightness(90%);
  // filter: grayscale(70%); 
}
.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
