.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--bs-gray-dark);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  background: var(--bs-grey);
  cursor: pointer;
  margin: 15px auto;
  transition: 400ms linear;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
}

.card:hover,
.card:focus,
.card:active {
  color: var(--bs-gray-dark);
  border-color: var(--bs-primary);
  background-color: var(--bs-blue);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
