.container{

   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: auto;
   gap: 30px 40px;
   
 }
 
 .item1{
   flex: 2 40%;
 }
 .item2{
   flex: 1 20%;
 }

 @media all and (max-width: 992px) { 
   .item1, .item2{
      flex: 1 50%;
      align-self:baseline;
    }
   
 }
 @media all and (max-width: 768px) { 
   .item2,.item1{
     flex: 1 100%;
   }
 }

p.text{
    
    text-align: justify;
    font-variant: small-caps;
    letter-spacing : 1.5px;
    line-height: 2.0em;
    padding: 2rem 3rem 0;
}

img.image{
   display: flex;
   justify-content: center;
   position: relative;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

   /*  object-fit: scale-down; */
}

img.image:hover{
  -webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
} 

.shadowContainer {
   position: relative;
   background: rgba(255, 255, 255, 1);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
   min-height: 50vh;
   overflow-y:auto;
   transition: 0.35s;
   
 }