.header{
    color: var(--bs-secondary);
    text-align: 'center'
    }
    
.text{
    color: var(--bs-blue);
}

.container{

    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px 20px;
    
  }
  
  .item{
    flex: 1 30%;
  }

  @media all and (max-width: 992px) { 
    .item{
      flex: 1 35%;
    }
  }
  @media all and (max-width: 768px) { 
    .item{
      flex: 1 100%;
    }
  }
  

.contain{
    background: var(--bs-primary);
     height: '30vh'
}

.contactForm{
    /* backgroundImage: `url('greek-vase.png')`, */
    background-color: var(--bs-gray-100);
    padding: '5%';
}

@media (max-width: 768px) {
    
}