 


.footerBlock li {
  list-style: none;
  margin: 0 10px 10px 0px;
}


.footerBlock .about-lafarge-holcim a,
.footerBlock .about-lafarge-holcim a:visited {
  color: #fff;
  text-decoration: none;
}
.footerBlock .about-lafarge-holcim .content {
  color: #d9d9d9;
  column-count: 2;
  font-size: 0.78571em;
  line-height: 1.27273em;
}


.ftUl {
  list-style: none;
  padding-left: 0;
}

.footer {
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
  line-height: 1.5;
  
 
}
a.footer {
  text-decoration: none;
  color: var(--bs-primary);
  
}
a:hover.footer {
  text-decoration: underline;
}
.ftTitle {
  color: var(--bs-primary);
  /* font-family: ’Merriweather’, serif; */
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.ftMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px 40px;
padding: 5%;


}
.ftMain> .item {
  flex: 1;
    align-self: auto;
    padding-left: 4%;
    padding-right: 4%;
    vertical-align: middle;
}
  
.ftMain> .item2 {
  flex: 2;
    align-self: auto;
   
}

@media only screen and (max-width: 979px ) {
  .ftMain> .item {
    flex: 1;
    padding-left: 10%;
    align-self: auto;
    line-height: 2px;
  }
  .ftMain> .item2 {
    flex: 2;
  }
  .ftMain> .item3 {
    display: none;
  }
}
@media only screen and (max-width: 659px ) {
  .ftMain> .item {
    flex: 1 100%;
    align-self: auto;
    padding-left: 10%;
    text-align: center;
    line-height: 5px;
    letter-spacing: .1rem;

  }
  .ftMain> .item2 {
    flex: 1 100%;
      align-self: auto;
     
  } 
  .ftMain> .item3 {
    display: none;
  }
}

.footerForm {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"].footerForm {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"].footerForm {
  background-color: var(--bs-danger);
  color: var(--bs-blue);
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

.ftSocial {
  padding: 0 ;
}
.ftSocialList {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
li.ftSocialList {
  margin: 0.5rem;
  font-size: 1.25rem;
  list-style: none;
  padding-left: 0;
}
.ftLegal {
  padding: 0.9375rem 1.875rem;
  background-color: var(--bs-danger);
  color: var(--bs-blue);
  /* line-height: 1.5; */
  align-items: center;
  align-content: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
}
.ftLegalList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li.ftLegalList {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
  flex: 1;
}
/* one before the last child */
li:nth-last-child(2).ftLegalList {
  flex: 4; /* same as flex-grow: 1; */
}

.ftFooter {
  line-height: 1.5;
}
a.ftFooter {
  text-decoration: none;
  color: var(--bs-blue);
}
a:hover.ftFooter {
  text-decoration: underline;
  color: var(--bs-light);
}
