.footerAddress {
  position: absolute;
  left: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 10vh 0px 20px 30px;
}

.footerVision {
  position: relative;
  left: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 20px 30px;
  font-size: 1rem;
}

.reference {
  position: relative;
  left: 0px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 20px 30px;
}

.footerHeader {
  padding-top: 3%;
}

a.footerLink {
  display: block;
  position: relative;
  left: 0;
  color: var(--body-bg);
  font-size: 1rem;
}

a.footerLink:hover {
 /*  color: var(--bs-light); */
  font-size: 1.01rem;
  transition: ease;
}

footer.footerBlock {
  margin-top: 15px;
  padding: 0;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0.5px #f1c04a,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.footerBottomBlock {
  position: relative;
  bottom: 0;
  color: var(--bs-secondary);
  font-size: 1.1rem;
  line-height: 1.2em;
  padding: 10px 0px;
  min-height: 30px;
  float: left;
  background-color: var(--bs-gray-dark);
  width: 100%;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
}

.footerLogo {
  position: absolute;
  top: 0;
  left: 0;
}

.footerBottomBlock p {
  text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footerBlock {
  min-height: 220px;
  padding-top: 0;
  position: relative;
  background-color: var(--bs-secondary);
  color: var(--bs-body-color);
  margin-top: 10px;
  border-top: 2px solid var(--bs-primary);
  display: flex;
}
@media (max-width: 979px) {
  .footerBlock {
    min-height: 350px;
  }
}
.footerBlock .region-footer {
  padding: 5px 40px 0 40px;
  display: flex;
  flex-flow: row wrap;
}
.footerBlock .region-footer:before,
.footerBlock .region-footer:after {
  content: " ";
  display: table;
}
.footerBlock .region-footer:after {
  clear: both;
}
.footerBlock .block-block {
  float: left;
  width: 50%;
  margin-bottom: 50px;
}
.footerBlock .sharing-block-footer .block-title {
  color: #fff;
  font-size: 1em;
  line-height: 1.35714em;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 979px) {
  .footerBlock .sharing-block-footer .block-title {
    font-size: 0.78571em;
    line-height: 1.35714em;
  }
}
@media (max-width: 659px) {
  .footerBlock .sharing-block-footer .block-title {
    font-size: 0.85714em;
    line-height: 1.33333em;
  }
}
.footerBlock li {
  list-style: none;
  margin: 0 10px 10px 0px;
}
@media (max-width: 979px) {
  .footerBlock .region-footer {
    padding: 15px 0 0 0;
    margin: auto;
    width: 660px;
  }
}
.footerBlock .about-lafarge-holcim {
  margin-bottom: 20px;
  order: 2;
}
/* .footerBlock .about-lafarge-holcim .block-title {
  font-size: 1em;
  line-height: 1.27273em;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
} */
@media (max-width: 979px) {
  .footerBlock .about-lafarge-holcim .block-title {
    font-size: 0.78571em;
    line-height: 1.27273em;
  }
}
@media (max-width: 659px) {
  .footerBlock .about-lafarge-holcim .block-title {
    font-size: 0.85714em;
    line-height: 1.58333em;
  }
}
.footerBlock .about-lafarge-holcim a,
.footerBlock .about-lafarge-holcim a:visited {
  color: #fff;
  text-decoration: none;
}
.footerBlock .about-lafarge-holcim .content {
  color: #d9d9d9;
  column-count: 2;
  font-size: 0.78571em;
  line-height: 1.27273em;
}
@media (max-width: 979px) {
  .footerBlock .about-lafarge-holcim .content {
    font-size: 0.78571em;
    line-height: 1.27273em;
  }
}
@media (max-width: 659px) {
  .footerBlock .about-lafarge-holcim .content {
    font-size: 0.85714em;
    line-height: 1.66667em;
  }
}
@media (max-width: 979px) {
  .footerBlock .about-lafarge-holcim {
    width: 40%;
    float: right;
    order: 3;
  }
  .footerBlock .about-lafarge-holcim .content {
    column-count: 1;
  }
}
@media (max-width: 659px) {
  .footerBlock .about-lafarge-holcim {
    order: 3;
    margin-top: 0;
    margin-bottom: 30px !important;
  }
}
@media (max-width: 659px) {
  .footerBlock .region-footer {
    width: 320px;
    margin: auto;
  }
  .footerBlock .block-block {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    float: none;
  }
  .footerBlock .last {
    display: inline-block;
  }
}

.ftUl {
  list-style: none;
  padding-left: 0;
}

.footer {
  background-color: var(--bs-secondary);
  color: var(--bs-gray-dark);
  line-height: 1.5;
}
a.footer {
  text-decoration: none;
  color: var(--bs-gray-dark);
}
a:hover.footer {
  text-decoration: underline;
}
.ftTitle {
  color: var(--bs-primary);
  /* font-family: ’Merriweather’, serif; */
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.ftMain {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bs-secondary);
}
.ftMainItem {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ftMain {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/) {
  .ftMain {
    justify-content: space-evenly;
  }
}

.footerForm {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"].footerForm {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"].footerForm {
  background-color: var(--bs-danger);
  color: var(--bs-blue);
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

.ftSocial {
  padding: 0 1.875rem 1.25rem;
}
.ftSocialList {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
li.ftSocialList {
  margin: 0.5rem;
  font-size: 1.25rem;
  list-style: none;
  padding-left: 0;
}
.ftLegal {
  padding: 0.9375rem 1.875rem;
  background-color: var(--bs-danger);
  color: var(--bs-blue);
  /* line-height: 1.5; */
  align-items: center;
  align-content: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
}
.ftLegalList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li.ftLegalList {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
  flex: 1;
}
/* one before the last child */
li:nth-last-child(2).ftLegalList {
  flex: 4; /* same as flex-grow: 1; */
}

.ftFooter {
  line-height: 1.5;
}
a.ftFooter {
  text-decoration: none;
  color: var(--bs-blue);
}
a:hover.ftFooter {
  text-decoration: underline;
  color: var(--bs-light);
}
