* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration:none;
  list-style:none;

}

main {
  display: block;
  min-height: 80vh;
}

body {
  /* background: var(--bs-light); */
  
  font-family: 'Playfair Display', serif;
  font-size: 1.15em;
  margin: 0;
}
p {
  opacity: 1;
  line-height: 1.5;
  
    text-align: justify;
   
    letter-spacing : 1.5px;
    line-height: 2.0em;
}
img {
  max-width: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Autour One', cursive;
}