.container{

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	gap: 30px 40px;
	padding: auto;
	
  }
  
  .item{
	flex: 1 22%;
  }


p.text{
    
    text-align: justify;
    font-variant: small-caps;
    letter-spacing : 1.5px;
    line-height: 2.0em;
}

img.image{
   display: flex;
   justify-content: center;
   position: relative;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	animation-name: fadeInOut, moveLeft300px, bounce;
animation-duration: 2.5s, 3s;
animation-iteration-count: 1;
object-fit: cover;
/* width:264px;
height:198px;  */

   /*  object-fit: scale-down; */
}


@media all and (max-width: 992px) { 
	.item{
	  flex: 1 35%;
	}
	.image{
		width: 338px;
		height: 254px;
			
  }
  }
  @media all and (max-width: 768px) { 
	.item{
	  flex: 1 100%;
	}
	.image{
		width: 413px;
		height: 310px;
			}
  }
  

@keyframes fadeInOut {
	0%{
		opacity: 0;
		transform: translate3d(0,100%,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
  }

img.image:hover{
  -webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
} 

